
main img {
    border-radius: 20px;
}
/*Estil index*/


/*Estil footer*/
footer {
    background-color: #ffffff;
    color: #ff0000;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

footer p {
    padding-left: 36px;
}
.links {
    list-style-type: none;
    margin-top: 5px;
}

.links li {
    display: inline-block;
    margin-right: 23px;
    padding-right: 58px;
}

.links li:last-child {
    margin-right: 0;
}

a img {
    width: 60px;
    height: 60px;
}

 footer img:hover, img:hover {
    transform: translateY(-3px);
}

/*Estil alta*/