html {
    background-color: black;
    color: white;
    font-family: sans-serif;
    overflow-x: hidden;
}


main img {
    border-radius: 20px;
    margin-left: 40px;
    margin-bottom: 25px;
}

/*Estil index*/
section {
    padding-top: 30px;
}

#pelis img,
#loMasVisto img, #series img {
    box-shadow: 3px 6px 14px 3px rgba(242, 37, 37, 0.999);
    height: 250px;
    width: 160px;
}

#actores img {
    height: 175px;
    width: 110px;
}


#pelis img:hover,
#loMasVisto img:hover, #series img:hover {
    box-shadow: 5px 8px 16px 5px rgba(242, 37, 37, 0.999);
}

/*Estil header*/

header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;


}

header img {
    height: 15%;
    max-height: 200px;
    width: 15%;
    max-width: 200px;
    margin: 0 auto;
}


/*Estilo nav*/
nav {
    margin-left: auto;
    text-align: center;
    margin-top: 35px;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li {
    display: inline;
}

/*Estilos para imitar los botones de netflix*/
nav ul li a {
    color: white;
    background-color: red;
    padding: 5px 10px 5px 10px;
    /*Copiado directamente de la pagina de netflix con F12*/
    border-width: 0.0625rem;
    border-radius: calc(100px - 0.0625rem);
    /**************************************/
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
    font-size: 22px;
}

nav ul li a:hover {
    background-color: rgb(206, 1, 1);
}


/*Estilo footer*/
footer {
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

footer p {
    padding-left: 36px;
}

.links {
    list-style-type: none;
    margin-top: 5px;
}

.links li {
    display: inline-block;
    margin-right: 23px;
    padding-right: 58px;
}

.links li:last-child {
    margin-right: 0;
}

footer a img {
    width: 60px;
    height: 60px;
}

footer img:hover,
img:hover {
    transform: translateY(-3px);

}

/*Estil alta*/